.gradle/
.idea/
SwiftAndroidSupport.iml

build/
gradlew
gradlew.bat
local.properties
libs/
src/main/java/org/swiftjava/
src/main/swift/.build/build.db
src/main/swift/.build/build.db-journal
src/main/swift/.build/checkouts/Android.git-6854259997991990844/Kotlin/
src/main/swift/.build/checkouts/Android.git-6854259997991990844/LICENSE
src/main/swift/.build/checkouts/Android.git-6854259997991990844/Package.resolved
src/main/swift/.build/checkouts/Android.git-6854259997991990844/Package.swift
src/main/swift/.build/checkouts/Android.git-6854259997991990844/README.md
src/main/swift/.build/checkouts/Android.git-6854259997991990844/Sources/
src/main/swift/.build/checkouts/Android.git-6854259997991990844/Tests/
src/main/swift/.build/checkouts/Bluetooth.git--1679829496101537995/.travis.yml
src/main/swift/.build/checkouts/Bluetooth.git--1679829496101537995/LICENSE
src/main/swift/.build/checkouts/Bluetooth.git--1679829496101537995/Package.swift
src/main/swift/.build/checkouts/Bluetooth.git--1679829496101537995/README.md
src/main/swift/.build/checkouts/Bluetooth.git--1679829496101537995/Sources/
src/main/swift/.build/checkouts/Bluetooth.git--1679829496101537995/Tests/
src/main/swift/.build/checkouts/Bluetooth.git--1679829496101537995/Xcode/
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/CJavaVM.h
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/CJavaVM.xcodeproj/
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/Info.plist
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/LICENSE
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/Package.swift
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/README.md
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/jni.h
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/jni_md.h
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/module.modulemap
src/main/swift/.build/checkouts/CJavaVM.git--1521134582023321205/xcode.modulemap
src/main/swift/.build/checkouts/JNI.git-5137285128640422888/Configs/
src/main/swift/.build/checkouts/JNI.git-5137285128640422888/JNI.xcodeproj/
src/main/swift/.build/checkouts/JNI.git-5137285128640422888/LICENSE
src/main/swift/.build/checkouts/JNI.git-5137285128640422888/Package.swift
src/main/swift/.build/checkouts/JNI.git-5137285128640422888/README.md
src/main/swift/.build/checkouts/JNI.git-5137285128640422888/Sources/
src/main/swift/.build/checkouts/JNI.git-5137285128640422888/Tests/
src/main/swift/.build/checkouts/java_lang.git-938659873749723846/Info.plist
src/main/swift/.build/checkouts/java_lang.git-938659873749723846/LICENSE
src/main/swift/.build/checkouts/java_lang.git-938659873749723846/Package.swift
src/main/swift/.build/checkouts/java_lang.git-938659873749723846/Sources/
src/main/swift/.build/checkouts/java_lang.git-938659873749723846/build.log
src/main/swift/.build/checkouts/java_lang.git-938659873749723846/java_lang.h
src/main/swift/.build/checkouts/java_lang.git-938659873749723846/java_lang.xcodeproj/
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/Info.plist
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/LICENSE
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/Package.swift
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/README.md
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/Sources/
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/build.log
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/java_swift.h
src/main/swift/.build/checkouts/java_swift.git-9082904271628832338/java_swift.xcodeproj/
src/main/swift/.build/checkouts/java_util.git--6776651096668991710/Info.plist
src/main/swift/.build/checkouts/java_util.git--6776651096668991710/LICENSE
src/main/swift/.build/checkouts/java_util.git--6776651096668991710/Package.swift
src/main/swift/.build/checkouts/java_util.git--6776651096668991710/Sources/
src/main/swift/.build/checkouts/java_util.git--6776651096668991710/build.log
src/main/swift/.build/checkouts/java_util.git--6776651096668991710/java_util.h
src/main/swift/.build/checkouts/java_util.git--6776651096668991710/java_util.xcodeproj/
src/main/swift/.build/debug.yaml
src/main/swift/.build/dependencies-state.json
src/main/swift/.build/repositories/
src/main/swift/.build/x86_64-apple-macosx10.10/
src/main/swift/Package.resolved
src/main/swift/Sources/
